@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    max-width: 100vw;
    max-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    position: relative;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.woman {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 25%;
    right: 25%;
    background-image: url(images/woman.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    z-index: 100;
}

.headline1 {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -20%;
    left: 0;
    background-image: url(images/headline1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    z-index: 10;
}

.headline2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(images/headline2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.subHeadline {
    position: absolute;
    width: 110%;
    height: 100%;
    top: 20%;
    right: 10%;
    background-image: url(images/subheadline.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.learn-more {
    position: absolute;
    width: 60%;
    height: 50%;
    bottom: -10%;
    left: 20%;
    background-image: url(images/learnmore.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.logo {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 12%;
    right: 10%;
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.replay {
    position: absolute;
    width: 50%;
    height: 12%;
    bottom: -3%;
    right: 23%;
    background-image: url(images/replay.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
}

/* define the keyframes for fade-in and fade-out */
@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* define the keyframes for slide-in left and right */
@keyframes slide-in-to-left {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes slide-in-from-right-to-left {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes slide-in-from-left-to-right {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(10%);
      opacity: 1;
    }
}

/* define the keyframes for zoom in and out */
@keyframes zoom-out {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
}

@keyframes zoom-in {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}